{% from 'macro.twig' import icon %}

<div class="footer__img" style="background-image: url('{{ site.theme.link }}/images/berlin.svg');"></div>

<h1 class="footer__headline">{{ __('Visit us in web', 'huskies') }}</h1>
<ul class="footer-menu">
  <li class="footer-menu__item">
    <a href="http://ultimatecentral.com/de_DE/t/huskies">
      {{ icon('ultimate-central') }}
    </a>
  </li>
  <li class="footer-menu__item">
    <a href="https://de-de.facebook.com/Ultimate-Huskies-Berlin-119812154765363">
      {{ icon('facebook') }}
    </a>
  </li>
  <li class="footer-menu__item">
    <a href="https://www.instagram.com/ultimate.huskies.berlin/">
      {{ icon('instagram') }}
    </a>
  </li>
  <li class="footer-menu__item">
    <a href="https://github.com/Ultimate-Huskies">
      {{ icon('github') }}
    </a>
  </li>
  <li class="footer-menu__item">
    <a href="mailto:info@ultimate-huskies.de">
      {{ icon('mail') }}
    </a>
  </li>
</ul>

<h1 class="footer__headline">{{ __('Or at sport', 'huskies') }}</h1>
<div class="footer__map">
  {% filter shortcodes %} {{ footer_map }} {% endfilter %}
</div>
<ul class="footer-submenu">
  <li class="footer-submenu__item">
    <a href="{{ site.url }}/impressum">{{ __('Imprint', 'huskies') }}</a>
  </li>
  <li class="footer-submenu__item">
    <a href="{{ site.url }}/kontakt">{{ __('Contact', 'huskies') }}</a>
  </li>
</ul>

<span class="footer__copyright">
  &copy; {{ now|date('Y') }} {{ bloginfo('name') }} {{__('build with %s and')|format('&hearts;') }} <a href="http://wordpress.org/">Wordpress</a>
</span>
