{% from 'layout/forms/base.twig' import render %}
{% from _self import content %}

{% macro content(page) %}
  {% from 'macro.twig' import password_strength_meter %}

  <input type="hidden" id="password_key" name="password_key" value="{{ page.set_new_password.key }}" />
  <input type="hidden" id="password_user" name="password_user" value="{{ page.set_new_password.login }}" />
  <fieldset class="form__section form__section--text-input">
    <input type="password" id="password_password1" name="password_password1" required>
    <label for="password_password1">{{ __('password', 'huskies') }}</label>
  </fieldset>
  <fieldset class="form__section form__section--text-input">
    <input type="password" id="password_password2" name="password_password2" required>
    <label for="password_password2">{{ __('repeat password', 'huskies') }}</label>
  </fieldset>
  {{ password_strength_meter('password_password1', 'password_password2') }}
{% endmacro %}

{{ render(page, 'password', __('Set new password', 'huskies'), content(page), page.home_url, 'modal--visible') }}
