<h2>
  {% block form_header %}{% endblock %}
</h2>

{% block form_infos %}{% endblock %}
{% do action('bbp_template_notices') %}

<form method="post" action="{% block form_action %}{% endblock %}">
  {% block form_inputs %}{% endblock %}

  {% if page.user.can.unfiltered_html %}
    {{ __('Your account has the ability to post unrestricted HTML content.', 'huskies') }}
  {% else %}
    {{ __('You may use these HTML tags and attributes.', 'huskies') }}
    {{ page.bbpress.form.allowed_tags }}
  {% endif %}

  <fieldset>
    {% include 'forum/forms/upload.twig' %}
  </fieldset>

  {% if page.bbpress.form.subscriptions_active %}
    <fieldset>
      <label for="bbp_topic_subscription">{{ __('Notifications', 'huskies') }}</label>
      <input name="bbp_topic_subscription" id="bbp_topic_subscription" type="checkbox" value="bbp_subscribe" {{ page.bbpress.form.topic_subscribed }} tabindex="{{ page.bbpress.form.tabindex }}" />
      {% block form_subscription_text %}{% endblock %}
    </fieldset>
  {% endif %}

  {% block form_inputs_additional %}{% endblock %}

  <fieldset>
    <input type="submit" id="bbp_topic_submit" name="bbp_topic_submit" class="btn btn-success" value="{% block form_submit_value %}{% endblock %}" tabindex="{{ page.bbress.tabindex }}" />
    <input type="reset" class="btn" value="{{ __('Clear', 'huskies') }}">
  </fieldset>

  {% block form_footer %}{% endblock %}
</form>
