{% extends "layout/forum.twig" %}
{% from 'macro.twig' import icon %}

{% block forum_title %}
  {{ __('Forums', 'huskies') }}
{% endblock %}

{% block forum_content %}
  {% for forum in forums %}
    <article class="forum-short forum-short--{{ forum.status }}">
      <div class="forum-short__image forum-short__image--fake">
        {{ forum.title|first }}
      </div>
      <h2 class="forum-short__title">
        <a href="{{ forum.link }}">{{ forum.title }}</a>
        <small>{{ forum.post_content }}</small>
      </h2>
      <p class="forum-short__meta">
        {{ icon('topics') }}
        {{ forum.topic_count }}
        |
        {{ icon('update') }}
        {{ forum.freshness_time }}
      </p>
    </article>
  {% endfor %}
{% endblock %}
