{% extends "layout/forum.twig" %}
{% from 'macro.twig' import pagination, header_top_link, icon, modal %}

{% block forum_title %}
  {{ __('Replies', 'huskies') }}
{% endblock %}

{% if page.user.can.access_reply_form %}
  {% block header_top_link %}
    {{ header_top_link('plus', '#modal-reply-form') }}
  {% endblock %}
{% endif %}

{% block forum_header %}
  <section class="section section--inverse">
    <header class="forum-header">
      <div class="forum-header__breadcrumb">
        {{ page.bbpress.breadcrumb }}
      </div>
      <div class="forum-header__infos">
        <span class="pull-left">
          <strong>{{ reply_count }}</strong>
          {{ __('replies', 'huskies') }}
        </span>
        <span class="pull-right">
          {{ topic.subscribe_link }}
          |
          {{ topic.favorite_link }}
        </span>
      </div>

      {{ pagination(pagination.pages) }}
    </header>
  </section>
{% endblock %}

{% block forum_content %}
  {% for reply in replies %}
    {% do action('bbp_template_before_replies_loop') %}
    <article class="reply reply--{{ reply.status }}">
      <div class="reply__author">
        {{ reply.author_avatar(75) }}
        <p class="reply__author-counts">
          <span>
            {{ icon('topics') }}
            {{ reply.author_topic_count }}
          </span>
          <span>
            {{ icon('replies') }}
            {{ reply.author_reply_count }}
          </span>
        </p>
      </div>
      <div class="reply__content-wrapper">
        <p class="reply__admin-links">{{ reply.admin_links }}</p>
        <h2 class="reply__title">
          {{ reply.author_avatar(40) }}
          <a href="{{ reply.author_link }}">{{ reply.author }}</a>
          <small>{{ reply.date }}</small>
        </h2>

        <div class="reply__content">{{ reply.content }}</div>
      </div>
    </article>
    {% do action('bbp_template_after_replies_loop') %}
  {% endfor %}
{% endblock %}

{% block forum_footer %}
  <section class="section section--inverse">
    <footer class="forum-footer">
      {{ pagination(pagination.pages) }}

      <div class="forum-header__breadcrumb">
        {{ page.bbpress.breadcrumb }}
      </div>
      <div class="forum-header__infos">
        <span class="pull-left">
          <strong>{{ reply_count }}</strong>
          {{ __('replies', 'huskies') }}
        </span>
        <span class="pull-right">
          {{ topic.subscribe_link }}
          |
          {{ topic.favorite_link }}
        </span>
      </div>
    </footer>
  </section>
{% endblock %}

{% if page.user.can.access_reply_form %}
  {% block modal %}
    {{ modal('reply-form', __('Reply To: %s', 'huskies')|format(topic.title), include('forum/forms/reply.twig')) }}
  {% endblock %}
{% endif %}
