{% extends "layout/forum.twig" %}
{% from 'macro.twig' import pagination %}

{% block forum_headline %}
  {{ __('Replies', 'huskies') }}
{% endblock %}

{% block forum_content %}
  {{ pagination(pagination.pages) }}
  {{ reply_count }}
  <p>
    {{ topic.subscribe_link }}
    {{ topic.favorite_link }}
  </p>
  {% for index, reply in replies %}
    <article class="post-short {{ reply.status }} {{ reply.class }}">
      <h2><a href="{{ reply.author_link }}">{{ reply.author }}</a> <span>{{ reply.date }}</span></h2>
      <p>{{ reply.content }}</p>
      {{ reply.author_avatar }}
      <p>{{ reply.author_role }}</p>
      <p>{{ reply.author_topic_count }}</p>
      <p>{{ reply.author_reply_count }}</p>
      <p>{{ reply.admin_links }}</p>
    </article>
  {% endfor %}

  {% if page.user.can.access_reply_form %}
    {% include 'forum/forms/reply.twig' %}
  {% else %}
    {{ __('The Topic "%s" is closed to new replies', 'huskies')|format(topic.title) }}
  {% endif %}
{% endblock %}
