{% extends "layout/forum.twig" %}
{% from 'macro.twig' import pagination, header_top_link, topic %}

{% block forum_title %}
  {{ __('Topics', 'huskies') }}
{% endblock %}

{% block header_top_link %}
  {{ header_top_link('plus', '') }}
{% endblock %}

{% block forum_header %}
  <section class="section section--inverse">
    <header class="forum-header">
      <div class="forum-header__breadcrumb">
        {{ page.bbpress.breadcrumb }}
      </div>
      <div class="forum-header__infos">
        <span class="pull-left">
          <strong>{{ topic_count }}</strong>
          {{ __('topics', 'huskies') }}
        </span>
        <span class="pull-right">{{ forum.subscribe_link }}</span>
      </div>

      {% if not sticky_topics|length > 0 %}
        {{ pagination(pagination.pages) }}
      {% endif %}
    </header>
  </section>

  {% if sticky_topics|length > 0 %}
    <section class="section section--inverse">
      {% for index, topic in sticky_topics %}
        {{ topic(topic, true) }}
      {% endfor %}

      {{ pagination(pagination.pages) }}
    </section>
  {% endif %}
{% endblock %}

{% block forum_content %}
  {% for index, topic in topics %}
    {{ topic(topic, false) }}
  {% endfor %}
{% endblock %}

{% block forum_footer %}
  <section class="section section--inverse">
    <footer class="forum-footer">
      {{ pagination(pagination.pages) }}
      
      <div class="forum-header__breadcrumb">
        {{ page.bbpress.breadcrumb }}
      </div>
      <div class="forum-header__infos">
        <span class="pull-left">
          <strong>{{ topic_count }}</strong>
          {{ __('topics', 'huskies') }}
        </span>
        <span class="pull-right">{{ forum.subscribe_link }}</span>
      </div>

      {% if page.user.can.access_topic_form %}
        {% include 'forum/forms/topic.twig' %}
      {% else %}
        {{ __('The forum "%s" is closed to new topics and replies', 'huskies')|format(forum.title) }}
      {% endif %}
    </footer>
  </section>
{% endblock %}
